/*Responsive*/

/*traveler info */
 .travelerinfo {
    .id-msg {
        padding:5px 0px 5px 20px;
    }
    .form-content {
        padding:5px 30px;
    }
    .name-field {
        width:47%;
        max-width:219px;
    }
    .editbutton {
        color: @link;
        font-size: 0.8em;
        line-height: 2;
        margin-right: 10px;
        float: right;
    }
    .stepbar {
        margin-top:0px;
        color:#ffffff;
        background-color:#0065b8;
        padding:5px 0px 5px 10px;
        font-size: 90%;
    }
    .loyalty {
        font-size:0.9em;
        padding-top:10px;
    }
    .traveler-select {
        margin: 2px 0px;
    }
    .traveler-title {
        margin:0px 20px 0px 20px;
        background-color:#d1eaff;
        padding:7px 10px;
        max-width: 455px;
    }
    @media only screen and (max-width:480px) {
        .id-msg {
            padding:5px 0px 7px 0px;
        }
        .traveler-title {
            margin:0px;
        }
        .form-content {
            padding:5px 2px;
        }
    }
    .playback-edit {
        display:none;
        margin-bottom:10px;
        button.update {
            margin-top: 10px;
        }
    }
    .infoplayback {
        .playbacktitle {
            background-color:#d1eaff;
            margin:4px 20px 0px 20px;
        }
        .playback-detail {
            padding:10px 0px 10px 40px;
            margin:0px 20px 15px 20px;
            background-color:#eee;
        }
        @media only screen and (max-width:480px) {
            .playbacktitle {
                margin:4px 5px 0px 5px;
            }
        }
    }
}
/*insurance*/
 #ins-added1, #ins-added2, #ins-declined {
    display: none;
}
.insurance {
    fieldset {
        color: #000000;
        h3 {
            font-size: 1.1em
        }
        .ins-added, .ins-declined {
            color: blue;
        }
        #ins-plans {
            .insurance-c-dt {
                color: @link;
                margin-right: 10px;
                float: right;
            }
        }
        .ins-bullet {
            .ins-bullet-text {
                font-size: 1.17em;
                font-weight: 500;
            }
            ul {
                // padding-bottom: 0.25em;
                font-weight: normal;
                list-style-position: inside;
            }
            li {
                color: @grey;
                line-height: 120%;
            }
        }
        .ins-detail {
            margin-top: 0.1em;
        }
        .ins-terms-link {
            font-size: 0.75em;
            margin: 5px 0px 0px 32px;
        }
        label.check {
            display:inline-block;
            width:100%;
            margin-bottom: 0px;
            padding: 20px 5px 20px 10px;
            background-color: #f5e9ba;
            // line-height: 21px;
            .inline-label {
                font-size:0.9em;
            }
        }
        #decline {
            background-color: transparent;
        }
    }
}