h4.step {
    background-color: #0065b8;
    color: #ffffff;
}
/*insurance*/
 #ins-added, #ins-declined {
    display: none;
}
.insurance {
    fieldset {
        color: #000000;
        h3 {
            font-size: 1.3em
        }
        .ins-added, .ins-declined {
            color: blue; 
        }
        .ins-bullet {
            .ins-bullet-text {
                font-size: 1.17em;
                font-weight: 500;
            }
            ul li {
                font-size: 1.1em;
                // padding-bottom: 0.25em;
                font-weight: 400;
                list-style-position: inside;
            }
        }
        .ins-detail {
            margin-top: 0.1em;
        }
        .ins-terms-link {
            font-size: 0.75em;
        }
        label.check {
            display:inline-block;
            width:100%;
            padding: 20px 5px 20px 10px;
            background-color: #f5e9ba;
            // line-height: 21px;
            .inline-label {
                font-size:0.9em;
            }
        }
        #decline {
            background-color: transparent;
        }
    }
}